---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Bento from "../components/Bento.astro";
import BentoItem from "../components/BentoItem.astro";
import Footer from "../components/Footer.astro";
import PreFooter from "../components/PreFooter.astro";
import Logo from "../components/Logo.astro";
---

<Layout 
	title="Sitio Oficial de Xbox: Consolas, juegos y comunidad | Xbox" 
	description="Descubre la gran variedad de juegos y consolas. Entra a formar parte de la comunidad Gamer."
>
	<main>
		<body/>


	</main>
</Layout>
