---
import Header from '../components/Header.astro';

interface Props {
	description: string;
	title: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
	</head>

	<body>
		<header>
			
		</header>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light;
	}

	html {
		/* font-family: AGREGRAR LA FUENTE DE XBOX */
	}
</style>
